{% extends 'base.html' %} <!-- HERENCIA DE PLANTILLAS -->
{% block head_title %}
	CREAR
{% endblock %}

{% block head %}
	<h1> {{ titulo }} </h1>
	<ul>
		<li><a href='{% url "inicio" %}'> INICIO </a></li>
		<li><a href='{% url "parar" %}'> PARAR HEBRA </a></li>
		<li><a href='{% url "estado" %}'> ESTADO DEL BOT </a></li>
		<li><a href='{% url "msg_db" %}'> VISUALIZAR MENSAJES CAPTURADOS </a></li>
	</ul>
{% endblock %}

<body>
	{% block content %}
		Introduzca los valores necesarios para lanzar el Bot.
		<p>Si quieres buscar varios patrones, introducelos separados por comas.</p>

		{% if form %}  <!-- Para que aparezca el boton de registrar -->
			<form method = 'POST' action = ''>{% csrf_token %}
				{{ form.as_p}}
				<input type = 'submit' value = 'Crear'>
			</form>
		{% endif %}
	{% endblock %}
</body>

