<!DOCTYPE html>
<html>
{% extends "base.html" %}

{%block page_head%}
<div class="page-header">
    <h1> ACCEDE A TU CUENTA </h1>
</div>
{%endblock%}

{% block content %}

{% if form.errors %}
<p>Su nombre de usuario y contraseña no coinciden. Por favor, inténtelo de nuevo.</p>
{% endif %}

<head>
    <title>Login</title>
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password">
        </p>
        <button type="submit">Login</button>
    </form>
</body>
{% endblock %}

</html>

