{% extends 'base.html' %}
 
{% block head_title %}
MENU
{% endblock %}

 <body>
	<ul>
		<li><a href='{% url "inicio" %}'> INICIO </a></li>
		<li><a href='{% url "crear" %}'> CREAR BOT </a></li>
		<li><a href='{% url "parar" %}'> PARAR HEBRA </a></li>
		<li><a href='{% url "estado" %}'> ESTADO DEL BOT </a></li>		
		<li><a href='{% url "msg_db" %}'> VISUALIZAR MENSAJES CAPTURADOS </a></li>
	</ul>
</body>

{% block content %}
 
    <a href="{% url 'signup' %}">Sign Up</a>
    <a href="{% url 'login' %}">Login</a>
 
{% endblock %}