{% extends 'base.html' %}
 
{%block page_head%}
    <div class="page-header">
        <h1> {{ titulo }} </h1>
    </div>
{%endblock%}
 
{% block head_title %}
MENU
{% endblock %}

 <body>
	<ul>
		<li><a href='{% url "inicio" %}'> INICIO </a></li>
		<li><a href='{% url "crear" %}'> CREAR BOT </a></li>
		<li><a href='{% url "parar" %}'> PARAR HEBRA </a></li>
		<li><a href='{% url "estado" %}'> ESTADO DEL BOT </a></li>		
		<li><a href='{% url "msg_db" %}'> VISUALIZAR MENSAJES CAPTURADOS </a></li>
		<div><hr></div>
	</ul>
</body>

{% block content %}
<button>
 	    <a href="{% url 'signup' %}">Registro</a>
</button>

<button>
	<a href="{% url 'login' %}">Acceso</a>
</button>
    
 
{% endblock %}